body{
    margin: 0;
}
a{
    color: #333333;
    text-decoration: none;
}











/* ============== flex ================ */
.zz-flex{
    display: flex;
}
.zz-flex-column{
    flex-direction: column;
}
.zz-flex-between{
    justify-content: space-between;
}
.zz-flex-middle{
    align-items: center;
}




.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}